.swiperBox {
  display: flex;
  width: 100%;
  /* height: 100vh; */
  border: 1px solid gray;
  border-radius: 1rem;
}

.contentBox {
  flex-grow: 1;
  flex-basis: 0;
  height: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  /* background-color: #ccc;  */
  margin: 10px; 
  box-sizing: border-box;
}

.contentBox img {
  width: 150px;
  height: 130px;
  border-radius: 1rem;
}

.button_container {
  display: flex; 
  justify-content: end; 
  align-items: end; 
  width: 10%;
  flex-grow: 1;
  flex-basis: 0;
  /* height: 30px;  */
  /* background-color: #ccc;  */
  margin: 10px; 
  box-sizing: border-box;
}
.button_container button {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
}
.contentBox .levelBox {

}

.contentBox .levelBox strong {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  line-height: 35.2px;
  text-align: left;
  white-space: nowrap;
}
/* 
.upperBox {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
}
.upperBox img {
  width: 50px;
  border-radius: 50%;
}

.lowerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-sizing: border-box;
  width: 100%;
}

.lowerBox img {
  width: 150px;
  height: 130px;
  border-radius: 1rem;
}

.lowerBox button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.lowerBox .levelBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.lowerBox .levelBox strong {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  line-height: 35.2px;
  text-align: left;
  white-space: nowrap;
}

.lowerBox .levelBox span {
  color: #a9a0a0;
  white-space: nowrap;
} */
