.rightCon {
  /* border: 1px solid red; */
  margin: auto;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search > div {
  border: 1px solid lightgray;
  padding: 10px;
}

.searchCrew {
  width: 580px;
  border: none;
  margin: 0 10px;
}

/* listHeader */
.listHeader {
  align-items: center;
  margin-top: 50px;
  display: flex;
  width: 850px;
  height: 70px;
  justify-content: space-between;
  background-color: #f2f4f8;
}

.listHeader > span {
  padding: 0 20px;
}

/* CrewList */
.recoCrew {
  width: 850px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid blue; */
  width: 100%;
  padding-top: 50px;
  padding-left: 0px;
}

.list li {
  /* border: 1px solid green; */
  /* flex: 1 1 50%; */
  width: 420px;
  height: 300px;
  box-sizing: border-box;
  padding: 10px;
}

.list li img {
  border: 1px solid lightgray;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.list li p {
  padding-top: 10px;
  text-align: center;
}
