.mainCrew {
  display: flex;
}

/* 나의 크루 리스트 영역 */
.myCrewCon {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  text-align: center;
  background-color: #f1f1f1;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.1);
}

.myCrewCon h3 {
  padding: 22px 0 70px;
  font-size: 26px;
  font-weight: bold;
}

.myCrewListCon .crewListCard {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 350px;
  height: 300px;
  background-color: white;
  border-radius: 1rem;
}

.myCrewListCon .crewImgBox {
  width: 300px;
  height: 150px;
}

.myCrewListCon .crewImgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.myCrewListCon .crewListCard .crewTextBox {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: baseline;
}

.crewListCard .crewTextBox .crewNameBox strong {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.crewListCard .crewTextBox .crewNameBox span {
  color: #b9b9b9;
}

/* 추천크루 리스트 영역 */
.rightCon {
  width: calc(100% - 400px);
  margin-left: auto;
  padding: 96px 80px 136px;
}

.righttxt {
  display: flex;
  justify-content: space-between;
}

.righttxt h2 {
  font-size: 3.5rem;
  font-weight: bold;
}

.righttxt .crewCreateBtn {
  border: none;
  height: 56px;
  width: 142px;
  border-top: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
  background-color: transparent;
  font-size: 20px;
}

.righttxt button:hover {
  font-weight: 700;
}

.rightmenu {
  margin-top: 90px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid black;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.rightmenu span {
  margin-right: 1.5rem;
}

.rightmenu select {
  width: 100px;
  padding-left: 20px;
  border: none;
  font-weight: bold;
}

.searchBox {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

.searchBox::after {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  left: -10%;
  background-color: black;
}

.searchBox input {
  border: none;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
}

/* 검색 및 추천된 크루 목록 영역 */
.crewList {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  gap: 1.5rem;
}

.crewList .crewListCard {
  /* border: 1px solid blue; */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  border-radius: 1rem;
}

.crewList .recCrewImgBox {
  width: 100%;
  height: 200px;
}

.crewList .crewListCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.crewList .crewListCard .crewListTextBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-self: baseline;
  padding-left: 0.5rem;
  position: relative;
}

.crewList .crewListCard strong {
  font-size: 20px;
  font-weight: bold;
}

.crewList .crewListCard .crewListTextBox span {
  position: absolute;
  top: -24px;
  right: 0;
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: 3px solid black;
}
