.mainCrew {
  display: flex;
  width: calc(100% - 210px);
  margin-left: auto;
  position: relative;
}

.mainCrewToggled .myCrewCon {
  transform: translateX(-400px);
  overflow: visible;
}

.mainCrewToggled .rightCon {
  width: 100%;
  margin: auto;
}

/* 나의 크루 리스트 영역 */
.myCrewCon {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s;

  overflow-y: scroll;
}

.myCrewCon::-webkit-scrollbar {
  display: none;
}
/* 스크롤바 있으니까 안 예뻐서 일단 이렇게하고 */
/* 마우스휠로 내려가기하는데 좀 수정필요할듯 */

.myCrewCon .iconRight {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.myCrewCon .iconLeft {
  position: absolute;
  top: 1rem;
  font-size: 2rem;
  right: -2.5rem;
  cursor: pointer;
}

.myCrewCon h3 {
  padding: 22px 0 40px;
  font-size: 26px;
  font-weight: bold;
}

.myCrewListCon {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.myCrewListCon::before {
  content: '';
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  height: 90%;
  bottom: 0;
  z-index: -10;
}

.myCrewListCon .crewListCard {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
}

.myCrewListCon .crewImgBox {
  width: 350px;
  height: 200px;
}

.myCrewListCon .crewImgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.myCrewListCon .crewListCard .crewTextBox {
  margin-left: 0.5rem;
  display: flex;
  gap: 1rem;
  padding: 2rem 1rem;
  flex-direction: column;
  align-items: baseline;
  max-width: 300px;
}

.crewListCard .crewTextBox .crewNameBox strong {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.crewListCard .crewTextBox .crewNameBox span {
  color: #b9b9b9;
}

.crewListCard .crewTextBox p {
  text-align: left;
}

/* 추천크루 리스트 영역 */
.rightCon {
  width: calc(100% - 400px);
  margin-left: auto;
  padding: 96px 80px 136px;
  transition: 0.3s;
}

.righttxt {
  display: flex;
  justify-content: space-between;
}

.righttxt h2 {
  font-size: 3.5rem;
  font-weight: bold;
}

.righttxt .crewCreateBtn {
  border: none;
  height: 56px;
  width: 142px;
  border-top: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
  background-color: transparent;
  font-size: 20px;
}

.righttxt button:hover {
  font-weight: 700;
}

.rightmenu {
  margin-top: 90px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid black;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.rightmenu span {
  margin-right: 1.5rem;
}

.rightmenu select {
  width: 100px;
  padding-left: 20px;
  border: none;
  font-weight: bold;
}

.searchBox {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

.searchBox::after {
  content: '';
  width: 2px;
  height: 20px;
  position: absolute;
  left: -10%;
  background-color: black;
}

.searchBox input {
  border: none;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
}

/* 검색 및 추천된 크루 목록 영역 */

.crewList {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.crewList .crewListCard {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

.crewList .recCrewImgBox {
  width: 100%;
  height: 200px;
}

.crewList .crewListCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.crewList .crewListCard .crewListTextBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  align-self: baseline;
  position: relative;
}

.crewList .crewListCard strong {
  font-size: 20px;
  font-weight: bold;
  margin-right: 0.5rem;
}

.crewList .crewListCard .crewListTextBox .crewListTextWrap span {
  color: #b9b9b9;
}

.crewList .crewListCard .crewListTextBox span {
  padding-bottom: 5px;
}

@media (max-width: 1440px) {
  .mainCrew {
    width: 100%;
    margin: auto;
  }

  .myCrewCon {
    width: 400px;
    background-color: #ffffff;
    height: 100vh;
    top: 8vh;
    left: 0;
    z-index: 5;
  }

  .rightCon {
    width: 100%;
    margin-left: auto;
    padding: 96px 80px 136px;
    transition: 0.3s;
  }
}

@media (max-width: 660px) {
  .righttxt h2 {
    font-size: 2.5rem;
  }

  .selectBox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .selectBox span {
    margin-left: 0.25rem;
  }
  .selectBox select {
    padding-left: 0;
  }
  .rightmenu {
    align-items: baseline;
  }
  .selectBox label {
    display: none;
  }
  .searchBox::after {
    display: none;
  }

  .rightCon {
    padding: 96px 16px 136px;
  }
}
