.mainCrew {
  display: flex;
  width: calc(100% - 210px);
  margin-left: auto;
  position: relative;
}

.mainCrewToggled .leftCon {
  transform: translateX(-400px);
}

.mainCrewToggled .rightCon {
  width: 100%;
  margin: auto;
}

/* 크루원 영역 */
.leftCon {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  text-align: center;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.leftCon h3 {
  padding: 22px 0 70px;
  font-family: 'S-CoreDream-3Light';
  font-size: 26px;
  font-weight: bold;
}

.leftCon .iconRight {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
}

.leftCon .iconLeft {
  position: absolute;
  top: 1rem;
  font-size: 2rem;
  right: -2.5rem;
}

.leftCon .leftConinner {
  margin: 0 2rem;
}

.searchCon {
  display: flex;
  justify-content: space-between;
}

.searchCon > input {
  border-radius: 0.5rem;
  border: 1px solid #dee2e6;
  width: 260px;
  height: 40px;
}

.iconButton {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #dee2e6;
  margin-left: 15px;
}

.memberCon {
  height: 75vh;
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 1rem;
  margin-top: 30px;
  overflow-y: scroll;
}

.memberCon li {
  display: flex;
  gap: 1rem;
  align-items: end;
  padding: 1.5rem 1.5rem 0;
  font-size: 1.25rem;
  font-weight: bold;
}
.memberCon .profileBox {
  width: 50px;
  height: 50px;
}

.memberCon .profileBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* 크루상세 영역 */
.rightCon {
  width: calc(100% - 400px);
  margin-left: auto;
  padding: 96px 80px 136px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  transition: 0.3s;
}

.rightCon > i {
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 7%;
  cursor: pointer;
}

.righttxt {
  white-space: nowrap;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.crewName {
  display: flex;
  gap: 1.5rem;
  align-items: end;
}

.crewName h2 {
  font-size: 3.5rem;
  font-weight: bold;
}

.crewName span {
  color: #b9b9b9;
}

/* nav 영역 */

.page_tit_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 56px;
}

.page_tit {
  margin: 0;
  font-size: 56px;
  line-height: 68px;
  font-weight: 800;
}

.page_nav {
  position: relative;
  width: 640px;
}

.page_nav:before,
.page_nav .active .page_link:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.page_nav:before {
  border-top: 0.1rem solid #b9b9b9;
  border-bottom: 0.1rem solid #b9b9b9;
}

.page_nav > ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0 31px;
  list-style: none;
}

.page_nav > ul > li {
  font-size: 20px;
  line-height: 56px;
  text-align: center;
  font-weight: 300;
}

.page_nav > ul > li > a {
  position: relative;
  display: block;
  padding: 0 1rem;
  transition: all 0.3s;
}

.page_nav .page_link:before {
  border-top: 0.3rem solid transparent;
  border-bottom: 0.3rem solid transparent;
}
.page_nav .active .page_link:before {
  border-color: #000;
}

.page_nav ul li > a[aria-current='page']::before {
  border-color: #000000;
}

.page_nav ul li > a::before {
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.blur {
  filter: blur(5px);
}

/* a 선택 */
.page_nav ul li > a[aria-current='page'],
.page_nav ul li > a:focus,
.page_nav ul li > a:hover {
  font-weight: 800;
}
