.mainCrew {
  display: flex;
}

/* 나의 크루 리스트 영역 */
.leftCon {
  width: 400px;
  height: 100%;
  padding-top: 50px;
  text-align: center;
  background-color: #f1f1f1;
}

.leftCon > span {
  /* border: 1px solid red; */
  font-family: "S-CoreDream-3Light";
  font-size: 1.625rem;
  font-weight: bold;
}

.mycrewCon li {
  width: 347px;
  height: 256px;
  margin: auto;
  background-color: white;
  /* padding-top: 10px; */
  margin-top: 30px;
}

.mycrew > * {
  font-family: "S-CoreDream-3Light";
}

.adress > span {
  font-weight: bold;
  position: relative;
}

.adress span::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 60%;
  background-color: gray;
  position: absolute;
  right: 7px;
  bottom: 5px;
}

.mycrew > p {
  color: darkgray;
}

.mycrewCon img {
  /* margin-top: 20px; */
  width: 347px;
  height: 160px;
  object-fit: cover;
}

.mycrew {
  font-family: "맑은 고딕";
  padding-top: 10px;
  padding-left: 20px;
  text-align: left;
  /* border: 1px solid red; */
  line-height: 1.5;
}

.adress {
  display: flex;
}

.adress > span {
  padding-right: 20px;
}

/* 추천크루 영역 */
.rightCon {
  width: calc(100% - 714px);
  margin: 98px auto;
}

.righttxt {
  display: flex;
  justify-content: space-between;
}

.righttxt h2 {
  font-size: 3.5rem;
  font-weight: bold;
}

.righttxt button {
  border: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: white;
  border-radius: 0;
}

.rightmenu {
  margin-top: 40px;
  display: flex;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* 크루 리스트 */

select {
  border: none;
}

.search {
  border: none;
}

.crewList {
  padding-top: 25px;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 1.5rem;
}

.crewList li {
  /* border: 1px solid blue; */
  list-style: none;
  width: 300px;
  font-family: "S-CoreDream-3Light";
  line-height: 1.2;
}

.crewList > li > img {
  width: 100%;
  height: 230px;
}

.crewList > li > h5 {
  padding-top: 5px;
  font-weight: bold;
}

.crewList > li > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
