.gnb {
  position: fixed;
  top: 0;
  width: 210px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.gnb h1 {
  padding: 1rem 1rem 3rem 1rem;
  width: 150px;
  margin: auto;
}

.gnb h1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.holdBar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.holdBar > a {
  position: relative;
  display: flex;
  justify-content: center;
}

.holdBar > a > img {
  width: 120px;
  height: 90px;
  object-fit: contain;
}

.holdBar > a > span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Gaegu', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  white-space: nowrap;
}

.gnb .viewMore {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.gnb .viewMore i {
  padding: 0 0.5rem 1rem 2rem;
}

@media (max-width: 1440px) {
  .gnb {
    position: static;
    width: 100%;
    height: 8vh;
    flex-direction: row;
    align-items: center;
  }

  .holdBar > a {
    display: none;
  }

  .gnb h1 {
    padding: 1rem;
  }

  .gnb .viewMore i {
    padding: 0.5rem;
  }

  .gnb .viewMore span {
    margin-right: 1rem;
  }
}
