/* MyCrew영역 */

article {
  position: fixed;
  top: 0;
  left: 188px;
}

.leftCon {
  width: 400px;
  position: relative;
}

.leftCon > div > span {
  align-items: center;
  display: flex;
  width: 400px;
  height: 60px;
  background-color: #f2f4f8;
  padding: 0 20px;
  margin-bottom: 50px;
}

.leftCon > div > img,
.leftCon > div > p {
  display: flex;
  margin: 10px 50px;
  width: 300px;
  justify-content: center;
}
.leftCon > div > img {
  margin-top: 30px;
  border: 1px solid lightgray;
}

.leftCon::after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: lightgray;
  position: absolute;
  right: 0;
  top: 0;
}
