.my {
  width: 100%;
  height: 100vh;
}

.my > section {
  max-width: 1040px;
  width: calc(100% - 5rem);
  margin: 0 auto 30px;
  padding: 30px 20px 0;
}

.myCon {
}

.my h2 {
  display: none;
}

.info {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.imgSec {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info .imgBox {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.info .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nickSec {
  display: flex;
  align-items: end;
  margin-bottom: 20px;
}

.nickSec h3 {
  display: block;
  font-size: 1.25rem;
  margin-right: 1.25rem;
}

.nickSec i {
  font-size: 1.5rem;
  color: black;
}

.summmarySec {
  align-items: center;
}

.summmarySec ul {
  display: flex;
  flex-direction: row;
}

.summmarySec ul > li {
  margin-right: 40px;
}
