.sec {
  position: relative;
}

.sub {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin: 0 0 2rem;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
}

.sub:not(div) {
  gap: 0 8px;
}

@media (min-width: 768px) {
}

@media (min-width: 1080px) {
  .sub {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (min-width: 1680px) {
}
