.rankListCon {
  position: relative;
  height: 237px;
  width: 200px;
  margin-top: 250px;
  margin-left: 200px;
}

.rankListCon .btnBox {
  position: absolute;
  top: 120%;
  display: flex;
  gap: 1rem;
}

.rankListCon .btnBox button {
  border: none;
  background-color: transparent;
  font-family: 'S-CoreDream-3Light';
  font-weight: bold;
  font-size: 1.5rem;
  white-space: nowrap;
}

.rankListCard {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 200px;
  padding: 24px 32px 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  cursor: pointer;
}

.rankListCon .rankListCard > strong {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 2.5rem;
  background-color: #d3a428;
  width: 50px;
  height: 50px;
  border-radius: 0.75rem;
}

.rankListCon .rankListCard:nth-of-type(2) > strong {
  background-color: #a3a3a3;
}
.rankListCon .rankListCard:nth-of-type(3) > strong {
  background-color: #936840;
}
.rankListCon .rankListCard:nth-of-type(4) > strong,
.rankListCon .rankListCard:nth-of-type(5) > strong {
  background-color: transparent;
  color: #000000;
}

.rankListCard span {
  text-align: center;
  font-size: 2.25rem;
  white-space: nowrap;
}

.rankListCard span img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.25rem;
}

.rankListCard span strong {
  font-size: 1.25rem;
  font-family: 'S-CoreDream-3Light';
}

.rankListCard:nth-of-type(1) {
  left: 0;
  z-index: 5;
}

.rankListCard:nth-of-type(2) {
  left: 95%;
  z-index: 4;
}

.rankListCard:nth-of-type(3) {
  left: 190%;
  z-index: 3;
}

.rankListCard:nth-of-type(4) {
  left: 285%;
  z-index: 2;
}

.rankListCard:nth-of-type(5) {
  left: 380%;
  z-index: 1;
}

.rankListCard:nth-of-type(1):hover,
.rankListCard:nth-of-type(2):hover,
.rankListCard:nth-of-type(3):hover,
.rankListCard:nth-of-type(4):hover,
.rankListCard:nth-of-type(5):hover {
  top: -20px;
  z-index: 6;
}

.rankListCard.hover {
  top: -20px;
  z-index: 6;
}
