.listCon {
  display: flex;
}

.swiperCon {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  scroll-behavior: smooth;
  position: relative;
}

.swiperCon::-webkit-scrollbar {
  display: none;
}

.swiperBox {
  border-radius: 1rem;
  overflow: hidden;
  width: 600px;
  height: 125px;
  scroll-snap-align: start;
  flex-shrink: 0;
  transition: 0.5s;
  margin-left: 150px;
}

.swiperBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.listCon .textBox {
  transform: translateY(50%);
  font-size: 2rem;
  font-family: "S-CoreDream-3Light";
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 1150px;
}

.listCon .textBox span {
  font-weight: bold;
}

@media (max-width: 1550px) {
  .swiperBox {
    width: 500px;
  }

  .listCon .textBox {
    left: 1050px;
    font-size: 1.75rem;
  }
}

@media (max-width: 1400px) {
  .swiperBox {
    width: 500px;
  }

  .listCon .textBox {
    left: 840px;
    font-size: 1.75rem;
  }
}

@media (max-width: 1180px) {
  .swiperBox {
    width: 400px;
  }

  .listCon .textBox {
    left: 740px;
    font-size: 1.75rem;
  }
}
@media (max-width: 1060px) {
  .swiperBox {
    width: 300px;
  }

  .listCon .textBox {
    left: 640px;
    font-size: 1.25rem;
  }
}

@media (max-width: 890px) {
  .swiperBox {
    width: 300px;
    margin-left: 50px;
  }

  .listCon .textBox {
    display: none;
  }
}
