.addBtn {
  font-family: "S-CoreDream-3Light";
  font-size: 1.25rem;
  height: 50px;
  background-color: transparent;
  color: #000000;
  border: none;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.modalRe {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.recordCon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recordCon label {
  align-self: flex-start;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.recordCon .dateWrap {
  align-self: flex-start;
  margin-left: 2.25rem;
}

.recordCon .placeC,
.recordCon .diffiC {
  width: 90%;
  position: relative;
  margin-bottom: 2rem;
  padding: 1rem 0 0.5rem 1rem;
  box-shadow: 0 3px 3px -3px #777777;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  font-size: 0.9rem;
}

.recordCon .placeC .placeView,
.recordCon .diffiC .diffiView {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.recordCon .placeC .searchCon {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.recordCon .placeC .searchCon input {
  width: 80%;
}

.recordCon .placeC .searchCon i {
  padding: 0 0.5rem;
}

.recordCon .placeList,
.recordCon .diffiList {
  padding: 1rem;
  position: absolute;
  gap: 1rem;
  top: 120%;
  left: 0;
  width: 100%;
  height: 260px;
  overflow-y: scroll;
  background-color: #ffffff;
  z-index: 10;
  box-shadow: 0px 0px 5px #777777;
}

.recordCon .placeList {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.recordCon .placeList li,
.recordCon .diffiList li {
  padding: 0.5rem 0.25rem;
  cursor: pointer;
}

.recordCon .diffiList > li {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.recordCon .placeResult {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 1rem;
  width: 90%;
}

.modalBody input {
  width: 90%;
  margin-bottom: 1rem;
  border: none;
  box-shadow: 0 3px 3px -3px #777777;
}

.modalBody input:last-child {
  box-shadow: none;
}

.modalBody .diffiCon {
  padding: 1rem;
  width: 90%;
  margin-bottom: 2rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.9rem;
  height: 170px;
  overflow-y: scroll;
}

.modalBody .diffiCon .diffiCountList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modalBody .diffiCon .inDeBtn {
  border: none;
  background-color: transparent;
  padding: 0 0.75rem;
  font-size: 1rem;
}

.modalBody .diffiCon .diffiCountList i {
  margin-left: 2rem;
  cursor: pointer;
}

.modalBody .preview {
  width: 100px;
  height: 100px;
}

.modalBody .preview > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modalRe .ModalFt {
  display: flex;
  justify-content: center;
}
.ModalFt .saveBtn {
  background-color: #ffffff;
  border: none;
  color: #000000;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.ModalFt .saveBtn:hover {
  background-color: #000000;
  color: #ffffff;
}
