.allBox {
  display: flex;
  flex-direction: column;
}
.allBox h2 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  font-weight: bold;
  white-space: nowrap;
  border-bottom: 3px solid black;
}
.recordWrap {
  display: flex;
  gap: 2rem;
}

.leftBox {
  width: 50%;
  background-color: #f1f1f1;
  padding: 2rem;
  border-radius: 1rem;
}

.imgBox {
  width: 100%;
  height: 500px;
  margin-bottom: 2rem;
  border-radius: 13% 20% 10% 30% / 8% 43% 28% 17%;
  overflow: hidden;
  border: 10px solid black;
}

.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leftBox span {
  font-size: 1.5rem;
  font-weight: bold;
}

.leftBox p {
  margin-top: 2rem;
  font-size: 1.25rem;
}
.rightBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  border-radius: 1rem;
  padding: 1rem;
}

.gaugeBox {
  width: 100%;
  text-align: center;
}
.gaugeBox p {
  font-size: 1.5rem;
}
.gaugeBox p span {
  font-family: 'S-CoreDream-3Light';
  font-weight: bold;
}
.relatedRecords {
  width: 100%;
  text-align: center;
}

.relatedRecords p {
  font-size: 1.5rem;
}
