.listCon {
  display: flex;
  justify-content: center;
}

.swiperCon {
  height: 100vh;
  width: 50%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  scroll-behavior: smooth;
}

.swiperCon::-webkit-scrollbar {
  display: none;
}

.swiperBox {
  border-radius: 1rem;
  overflow: hidden;
  width: 600px;
  height: 125px;
  scroll-snap-align: start;
  flex-shrink: 0;
  transition: 0.5s;
}

.swiperBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.listCon .textBox {
  transform: translateY(50%);
  font-size: 2rem;
  font-family: 'S-CoreDream-3Light';
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  padding-top: 25vh;
  width: 200px;
}

.listCon .textBox span {
  font-weight: bold;
}
