.allBox {
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-weight: bold;
  width: 40%;
  white-space: nowrap;
  border-bottom: 3px solid black;
}
.recordWrap {
  display: flex;
  gap: 2rem;
}

.leftBox {
  width: 50%;
}

.imgBox {
  width: 100%;
  height: 500px;
  margin-bottom: 2rem;
}

.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leftBox span {
  font-size: 1.5rem;
  font-weight: bold;
}

.leftBox p {
  margin-top: 2rem;
  font-size: 1.25rem;
}
.rightBox {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.gaugeBox {
  width: 100%;
  text-align: center;
}
.gaugeBox p {
  font-size: 1.5rem;
}
.gaugeBox p span {
  font-family: "S-CoreDream-3Light";
  font-weight: bold;
}
.relatedRecords {
  width: 100%;
  text-align: center;
}

.relatedRecords p {
  font-size: 1.5rem;
}
