.search {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #F1F1F1;
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.sidebar>h3 {
    margin: 46px 0 50px 0;
    text-align: center;
    font-family: 'S-CoreDream-3Light';
    font-size: 26px;
    font-weight: bold;
}

.selectCity {
    display: flex;
    justify-content: space-between;

}

.selectCity select {

    width: 170px;
    height: 36px;
    margin-bottom: 10px;
    padding-left: 10px;
    border: 1px solid #DEE2E6;
    border-radius: 0.5rem;
    z-index: 2;
}

.sidebar .searchCon {
    display: flex;
    justify-content: space-between;

}

.sidebar .searchInput {
    width: 260px;
    height: 36px;
    border: 1px solid #DEE2E6;
    border-radius: 0.5rem;
    padding-left: 10px;
}


.sidebar .readingGlasses,
.sidebar .rotate {
    width: 38px;
    height: 38px;
    background-color: white;
    text-align: center;
    line-height: 38px;
    border-radius: 4px;
    border: 1px solid #DEE2E6;
}


.mapContainer {
    flex: 1;
}



.list {
    list-style: none;
    padding: 0;
}

.listItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.listItem img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.listItem div {
    flex: 1;
}

.starButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}


.centerName {
    font-size: 0.8rem;

}

.centerList {
    width: 347px;
    /* height: 278px; */
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* 이거 수장하니까 됨 */
}

.centerList img {
    /* width: 306px; */
    width: 100%;
    height: 132px;
    object-fit: cover;
}

.centerInfo {
    margin-top: 10px;
    /* 임시 */
    display: flex;

}

.centerInfo h4 {
    font-size: 18px;
}

.centerInfo p {
    font-size: 14px;
    opacity: 0.5;
}

.centerDetail {
    margin-top: 30px;
}

.centerRecord {
    margin-top: 30px;
}

/*  centerDetails
            썸네일 x표시
            (암장이름 구 즐찾)
            (.centerHome - .centerAddress 번호 사이트 레벨 소개글)
             */
.centerDetails {
    position: relative;
}

.centerDetails>* {
    margin-bottom: 20px;
}

.centerDetails img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.centerDetails .iconX {
    /* 위치 수정 예정 */
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
}

.tabContainer {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    /* 생략가능할지도 추후고민 */
}

.tabButtonHome,
.tabButtonRecode {
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    position: relative;
    color: grey;
}

.tabButtonHome.activeTab,
.tabButtonRecode.activeTab,
.tabButtonHome:hover,
.tabButtonRecode:hover {
    color: black;
}

.tabButtonHome.activeTab::after,
.tabButtonRecode.activeTab::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    border-bottom: 3px solid black;
}


.tabContent {
    margin-top: 20px;
}

.centerDetails .centerDetailInfo {
    margin-top: 10px;
    display: flex;
}

.centerDetailInfo h4 {
    font-size: 20px;
}

.centerDetailInfo p {
    opacity: 0.5;
}

.centerHome {
    display: flex;
    flex-direction: column;
}

.centerHome>* {
    margin-bottom: 20px;

}

.centerHome i {
    margin-right: 10px;
}

.levelContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.levelBox {
    border-top: 1px solid #DEE2E6;
    border-bottom: 1px solid #DEE2E6;
    width: 30px;
    height: 30px;
}

.levelBox:first-of-type {
    border-left: 1px solid #DEE2E6;
}

.levelBox:last-of-type {
    border-right: 1px solid #DEE2E6;
}

.sidebarDetails {
    background-color: #fff;
}

.centerHome .centerDesc {
    margin-bottom: 10px;
}