.SignInPage {
  margin: 260px auto auto auto;
  max-width: 720px;
  width: calc(100% - 10rem);
}

.SignInPage h2 {
  text-align: left;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 3rem;
}

.SignInPage form {
  text-align: center;
}

.SignInPage label {
  display: inline-block;
  display: flex;
  align-items: center;
}

.SignInPage input {
  border: none;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
}

.SignInPage form span {
  display: block;
  text-align: left;
  margin-bottom: 3rem;
}

.SignInPage form button,
.SignInPage>button
 {
  border: 3px solid black;
  font-size: 1.25rem;
  font-weight: 900;
  padding: 1rem;
  border-radius: 1rem;
}

.SignInPage form button {
  background-color: white;
  width: 100%;
  margin-bottom: 3rem;
}

.SignInPage>button {
  position: relative;
  background-color: #fdcf3e;
  width: 100%;
}

.SignInPage>button::after {
  content: '';
  position: absolute;
  width: 100%;
  border: 1px solid lightgray;
  bottom: -3rem;
  left: 0;
}

.errorMessage {
  color: red;
}

.moveSigninpage>p:last-of-type {
  margin-top: 100px;
}